<template>
  <div>
    <!-- <form @submit.prevent="save">
      <input type="text">
    </form> -->
    <ul>
      <li v-for="(spot, i ) in media" :key="i">
        
        {{ spot.title }} <br/>
        
      </li>
    </ul>
    <button @click="load">Load</button>
  </div>
</template>

<script>
import axios from 'axios'
  export default{
    data(){
      return{
        media:[]

      }
    },
    async mounted(){ 
      let response=await this.load()
      this.media = response.data
  },
  methods:{
    load(){
      return axios.get("https://the-lazy-media-api.vercel.app/api/games?page=1")
      //console.log(response);
    }
  }
}
  
</script>
